html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

/* link colors and text decoration */

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #dc3c01;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #892601;
}

a:hover, a:active {
    text-decoration: underline;
    color: #ff4500;
}

/* Some headers act as anchors, don't give them a hover effect */

h1 a:hover, a:active {
    text-decoration: none;
    color: #0c3762;
}

h2 a:hover, a:active {
    text-decoration: none;
    color: #0c3762;
}

h3 a:hover, a:active {
    text-decoration: none;
    color: #0c3762;
}

h4 a:hover, a:active {
    text-decoration: none;
    color: #0c3762;
}

span.reldate {
	color: gray;
	
}

.important {
	color: red;
}